asgiref==3.8.1
asttokens==3.0.0
crispy-bootstrap5==2024.10
decorator==5.1.1
Django==5.1.2
django-crispy-forms==2.3
django-extensions==3.2.3
exceptiongroup==1.2.2
executing==2.1.0
ipdb==0.13.13
ipython==8.30.0
jedi==0.19.2
matplotlib-inline==0.1.7
parso==0.8.4
pexpect==4.9.0
pillow==11.0.0
prompt_toolkit==3.0.48
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.18.0
sqlparse==0.5.1
stack-data==0.6.3
tomli==2.2.1
traitlets==5.14.3
typing_extensions==4.12.2
wcwidth==0.2.13
